@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
#app {
  margin: 0;
  padding: 0;
}

/* body {
  display: flex;
  flex-direction: column;
} */
#root {
  /* flex: 1; */
  display: flex;
}
#app {
  flex: 1;
  min-height: 100vh;
}

/* className="w-screen h-screen" */
